h1 {
	text-align: center;
}

#titleTab
{
	position: absolute;
	margin-top: 10vh;
	margin-left: 18vw;
	border-top: 6px solid rgb(194, 194, 194);
	border-left: 6px solid rgb(194, 194, 194);
	border-bottom: 42px solid rgb(194, 194, 194);
	border-right: 6px solid rgb(194, 194, 194);
	width : 60vw;
	height: 30vh;
}

#titre1
{
	position : absolute;
	margin-left: 41vw;
	margin-top: 41.3vh;
	font-size: 25px;
}